@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var services = Umbraco.TypedContentSingleAtXPath("//services");
    var take = 999;
    var scroll = false;

    if (Model.Content.DocumentTypeAlias != "services")
    {
        take = 6;
        scroll = true;
    }
}
<div class="section__header">
    <span class="section__title">Services we provide</span>
</div>
<div class="boxes-services">
    <div class="boxes" data-id="@services.Id" data-take="@take" data-scroll="@scroll">
    </div>
</div>
@if (Model.Content.DocumentTypeAlias != "services")
{
<div class="section__footer">
    <span class="button section__button"><a href="@services.Url">View all @services.Name</a></span>
    <p>We have helped people with many health conditions such as stress and fatigue, auto-immune disorders, digestive health, fertility, thyroid health, PCOS, weight loss and hormone imbalances. </p>
</div>
<div class="section__indicator">
    <span>scroll</span>
    <button type="button" class="arrow"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
</div>
}