@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var services = Model.Content;
    var take = 999;
    var scroll = false;
}
<div class="section__header">
    <span class="section__title">@Model.Content.Name</span>
</div>
<div class="section__content">
    @Model.Content.GetPropertyValue("bodyContent")
</div>
@if (Model.Content.Children.Count() == 0)
{
@Html.Partial("Social/Social", Model.Content)
}
@if (Model.Content.Children.Count() == 0)
{
<div class="section__indicator">
    <button type="button" class="round-button arrow arrow--inverted"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
    <span>back to top</span>
</div>
}
else
{
<div class="boxes-services boxes-services--service">
    <div class="boxes" data-id="@services.Id" data-take="@take" data-scroll="@scroll">
    </div>
</div>
}