@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var treatments = Umbraco.TypedContentAtXPath("//treatments").Where(m => m.Id == 1096).First();
    var take = 999;
    var scroll = false;

    if(treatments.Id != Model.Content.Id)
    {
        take = 6;
        scroll = true;
    }
}
<div class="section__header">
    <span class="section__title">Conditions we treat</span>
</div>
<div class="boxes-treatments">
    <div class="boxes" data-id="@treatments.Id" data-take="@take" data-scroll="@scroll">
    </div>
</div>
@if (treatments.Id != Model.Content.Id)
{
<div class="section__footer">
    <span class="button section__button"><a href="@treatments.Url">View all @treatments.Name</a></span>
    <p>We have helped people with many health conditions such as stress and fatigue, auto-immune disorders, digestive health, fertility, thyroid health, PCOS, weight loss and hormone imbalances. </p>
</div>
<div class="section__indicator">
    <span>scroll</span>
    <button type="button" class="arrow"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
</div>
}