@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    IPublishedContent treatments = null;
    if (Model.Content.DocumentTypeAlias == "treatments") {
        treatments = Model.Content;
    }
    else
    {
        treatments = Umbraco.TypedContentAtXPath("//treatments").Where(m => m.Id == 1096).First();
    }

    var term = Request.QueryString["q"];
    var take = 999;
    var scroll = false;

    if (Model.Content.DocumentTypeAlias != "treatments")
    {
        take = 6;
        scroll = true;
    }
}
<div class="section__header">
    <span class="section__title">@treatments.GetPropertyValue("sectionTitle")</span>
    @if (Model.Content.DocumentTypeAlias == "treatments")
    {
    <form class="form section__search" action="@Model.Content.Url#boxes">
        <fieldset>
            <div class="form__field">
                <button type="button"><span class="svg-load" data-src="/images/icon-search.svg"></span></button>
                <input type="text" name="q" placeholder="Search" value="@term" />
            </div>
        </fieldset>
    </form>
    }
</div>
<div class="boxes-treatments">
    <a name="boxes"></a>
    <div class="boxes" data-id="@treatments.Id" data-take="@take" data-scroll="@scroll" data-search="@term">
    </div>
</div>
@if (Model.Content.DocumentTypeAlias != "treatments")
{
<div class="section__footer">
    <span class="button section__button"><a href="@treatments.Url">View all @treatments.Name</a></span>
    <p>We have helped people with many health conditions such as stress and fatigue, auto-immune disorders, digestive health, fertility, thyroid health, PCOS, weight loss and hormone imbalances. </p>
</div>
<div class="section__indicator">
    <span>scroll</span>
    <button type="button" class="round-button arrow"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
</div>
}