@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var treatments = Umbraco.TypedContentSingleAtXPath("//treatments");
    var take = 999;
    var scroll = false;

    if(treatments.Id != Model.Content.Id)
    {
        take = 6;
        scroll = true;
    }
}
<div class="section">
    <div class="inner">
        <div class="boxes treatments" data-id="@treatments.Id" data-take="@take" data-scroll="@scroll">

        </div>
    </div>
</div>

@{
    var background = "";
    var typedMediaPickerSingle = Model.Content.GetPropertyValue<IPublishedContent>("backgroundImage");
    if (typedMediaPickerSingle != null)
    {
        background = typedMediaPickerSingle.Url;
    }
}

<div class="content">
    <div class="bg" style="background-image:url(@background);"></div>
    <div class="inner">
        <div class="logo"></div>
        <h1>@CurrentPage.Name</h1>
        <div class="column">
            @CurrentPage.column1
        </div>
        <div class="column">
            @CurrentPage.column2
        </div>
    </div>
</div>