@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@if (!String.IsNullOrEmpty(Model.Content.GetPropertyValue("about").ToString()))
{
    <div class="section">
        <a name="about"></a>
        <div class="inner">
            <div class="section__header">
                <span class="section__title">About</span>
            </div>
            <div class="section__content">
                @Model.Content.GetPropertyValue("about")
            </div>
        </div>
    </div>
}
@if (!String.IsNullOrEmpty(Model.Content.GetPropertyValue("types").ToString()))
{
<div class="section">
    <a name="types"></a>
    <div class="inner">
        <div class="section__header">
            <span class="section__title">Types</span>
        </div>
        <div class="section__content">
            @Model.Content.GetPropertyValue("types")
        </div>
    </div>
</div>
}
@if (!String.IsNullOrEmpty(Model.Content.GetPropertyValue("symptoms").ToString()))
{
<div class="section">
    <a name="symptoms"></a>
    <div class="inner">
        <div class="section__header">
            <span class="section__title">Symptoms</span>
        </div>
        <div class="section__content">
            @Model.Content.GetPropertyValue("symptoms")
        </div>
    </div>
</div>
}
@if (!String.IsNullOrEmpty(Model.Content.GetPropertyValue("causes").ToString()))
{
<div class="section">
    <a name="causes"></a>
    <div class="inner">
        <div class="section__header">
            <span class="section__title">Causes</span>
        </div>
        <div class="section__content">
            @Model.Content.GetPropertyValue("causes")
        </div>
    </div>
</div>
}
@if (!String.IsNullOrEmpty(Model.Content.GetPropertyValue("treatments").ToString()))
{
<div class="section">
    <a name="treatments"></a>
    <div class="inner">
        <div class="section__header">
            <span class="section__title">Treatments</span>
        </div>
        <div class="section__content">
            @Model.Content.GetPropertyValue("treatments")
        </div>
    </div>
</div>
}