@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var image = "";
    var personImage = Model.Content.GetPropertyValue<IPublishedContent>("image");
    if (personImage != null)
    {
        image = personImage.Url;
    }
}
<div class="team__column">
    <span class="team__image img-load" data-src="@image"></span>
    <h2>SPECIALISES IN:</h2>
    <ul class="icon-list">
        @{
            var typedMultiNodeTreePicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("specialties");
            foreach (var item in typedMultiNodeTreePicker)
            {
                var icon = "";
                var iconImage = item.GetPropertyValue<IPublishedContent>("icon");
                if (iconImage != null)
                {
                    icon = iconImage.Url;
                }
                <li class="icon-list__item icon"><span class="svg-load" data-src="@icon"></span><b>@item.Name</b></li>
            }
        }
    </ul>
    <br/>
    <h2>QUALIFICATIONS:</h2>
    <div class="star-list">
        @Model.Content.GetPropertyValue("qualifications")
    </div>
</div>
<div class="team__column team__column--wide">
    <div class="team__header">
        <h1>@Model.Content.Name</h1>
        <span class="subtitle team__subtitle">@Model.Content.GetPropertyValue("jobTitle")</span>
    </div>
    <span class="section__subtitle">@Model.Content.GetPropertyValue("")</span>
    @Model.Content.GetPropertyValue("bodyContent")
    <p>&nbsp;</p>
    @if (Model.Content.Down() != null)
    {
    <p><span class="button"><a href="@Model.Content.Down().Url">View CPD</a></span></p>
    }
    <p>&nbsp;</p>
</div>