@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var team = Umbraco.TypedContentSingleAtXPath("//team");
    var take = 999;
    var scroll = false;

    if (Model.Content.DocumentTypeAlias != "team")
    {
        take = 6;
        scroll = true;
    }
}
<div class="section__header">
    <span class="section__title">@team.GetPropertyValue("sectionTitle")</span>
</div>
<div class="boxes-team">
    <div class="boxes" data-id="@team.Id" data-take="@take" data-scroll="@scroll">
    </div>
</div>
@if (Model.Content.DocumentTypeAlias != "team")
{
    <div class="section__footer">
        <span class="button section__button"><a href="@team.Url">Meet our staff</a></span>
        <p>We have helped people with many health conditions such as stress and fatigue, auto-immune disorders, digestive health, fertility, thyroid health, PCOS, weight loss and hormone imbalances. </p>
    </div>
    <div class="section__indicator">
        <span>scroll</span>
        <button type="button" class="round-button arrow"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
    </div>
}