@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    @Html.Partial("Seo", Model.Content)
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#FFFFFF" />
    <link href="/css/main.css" rel="stylesheet" />
    <!-- Fonts -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/7fa499b7-6336-4d6c-acb6-72e8fcc80190.css" />
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <!-- Cookie bar -->
    @Html.Partial("CookieBar/CookieBar", Model.Content)
    <!-- End Cookie bar -->
    <div class="content-container">
        <!-- Header -->
        @Html.Partial("Header/Header", Model.Content)
        <!-- End Header -->
        <!-- Content -->
        @RenderBody()
        <!-- End Content -->
        <!-- Footer -->
        @Html.Partial("Footer/Footer", Model.Content)
        <!-- End Footer -->
    </div>
    <!-- Overlay -->
    @Html.Partial("Overlay/Overlay", Model.Content)
    <!-- End Overlay -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111281711-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111281711-1');
    </script>*@
    <!-- End Google Analytics -->
    <script src="/scripts/lib/jquery.min.js"></script>
    <script src="/scripts/lib/slick.min.js"></script>
    <script src="/scripts/lib/google-places.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyClZRllx4BgIKDEQEHNZSUO_fFV9aekZKw&signed_in=true&libraries=places"></script>
    <script src="/scripts/main.min.js"></script>
</body>
</html>