@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}
@Html.Partial("Banner/Banner", Model.Content)
@Html.Partial("HighlightBar/HighlightBar", Model.Content)
@Html.Partial("ContentScroller/ContentScroller", Model.Content)
<div class="section">
    <div class="inner">
        @Html.Partial("Treatments/Treatments", Model.Content)
    </div>
</div>
<div class="section section--grey">
    <div class="inner">
        @Html.Partial("Services/Services", Model.Content)
    </div>
</div>
<div class="section">
    <div class="inner">
    </div>
</div>
<div class="section section--grey">
    <div class="inner">
        <p>Neuronal circuitry is activated in meditation, one other network is needed to make this happen. Wilfulness is an essential ingredient. Wilfulness pipelines attention’s thrust into awareness networks. Gentle sustained willfulness activates neuronal circuitry.  Highly developed in humans, the neuronal conglomerate generating willfulness mainly resides in the brain’s frontal lobes and its connections. The partnership and synergism linking these two networks form the crux of meditation’s contribution to awareness expansion.</p>
        <h3>WHAT HAPPENS</h3>
        <p>What happens to the brain’s circuitry when meditation is consistently practiced?  In light of the discovery showing that capacity of neuronal generation, is it possible to incite awareness’ neuronal networks to expand its brain demographics? Can the voluntary arousal of awareness, as in meditation, increase the neurone population, the sum total of its connectivity and therefore the energetic output of awareness neurons?</p>
        <p>Research shows that meditation can indeed alter the morphology of selected brain components (Fox 2014:  Lazar 2005: Luders 2015:  Xue 2011). What are the implications of these findings? Can mental mechanisms engage awareness networks, stimulate neuronal connectivity, or even neurogenesis? What happens to the experiencing of awareness when its physical components are transformed through meditation?</p>
        <p>The term meditation therapies implies that techniques in meditation have the capacity to redress disharmonies of wellbeing. Indeed, this is so. Numerous studies have reported on meditation’s therapeutic actions in a spectrum of psychological conditions (Brown 2015, Schmidt 2014). Meditation therapies also show beneficial influence on the body’s functioning.  Of particular interest are meditative studies of cardiac reactivity, the tendency of the cardiovascular system to become nefariously activated in response to stress (Travis 2009:  Barns 2004). This type of research is, in essence, symbolic of the calming effects of meditation on autonomic nervous system networks. Meditation therapies address dysphoric symptomatology.</p>
        <p>Symptoms relative to anxiety, in the anxiety/apprehension/fear/worry spectrum, are the first to be mollified. The meditator is often surprised that formerly gripping anxieties gradually dispel and that new vistas of relaxation are revealed.  Learnt experientially is that relaxation has many subjective layers. Seemingly limitless in their reach. Also assuaged by meditation therapies is the irritability/anger/aggression spectrum. Angers can be dissolved with consistent meditation as are the unfortunate sequelae that derive from them. New landscapes of peacefulness are opened. Also bolstered by meditation is the self-esteem/self-image/self-confidence dimension. Distressing feelings that connect to this dimension have to do with the mind’s tendency to compare self with others. Feelings of inadequacy give way to new perceptions of personal centeredness and social equipoise.</p>
        <p>Especially pertinent to meditation therapies is their capacity to highlight the immediacy of life. The empathy/sensitivity/love spectrum is involved. Meditators find themselves with new capabilities to capture the intensity of interpersonal contact, to resonate with others emotionally and project expressions of goodwill, friendship, and love. In the context of meditation there often begins an awakening to the fact that awareness of one’s awareness is a reckoning of the existence of fundamental life energy, and with it, a revelation that this energy and conceptually, spirit – is not only always positive but also profoundly immutable.  Revelations often feature the fact that awareness nature is ever more fundamental than awareness content. Meditation therapies invite the development of dimensions of the psyche that correspond to higher, if not the highest of personal aspirations. They open portals to experiencing states of mind that ordinarily surpass us, belonging to the domains of the ‘over self’ (Brunton 1965).</p>
        <h3>CONCLUSION</h3>
        <p>Techniques that develop heightened awareness between mind and body can easily complement contemporary psychotherapies. In fact, to be maximally effective, psychotherapies need to be integrated into the body’s networks. Meditation is a generic term for a variety of techniques that centre on the activation of awareness. Sustained priming of awareness independently leads positive personal transformations, in the psychological, the psychosomatic, and the transcendent dimension of being.</p>
        <p>Research has shown that consistent meditation correlates with action and measurable physical modifications in the nervous system. In turn, awareness tends to shift towards relaxation, psychological harmony, organ balance, and importantly, towards states of experiencing that, like a staircase ascending, invite novel realisations of the self.</p>
        <p>For further info into meditation please see the Meditation Trust.</p>
        <span class="button"><a href="">View all articles</a></span>
    </div>
</div>
@Html.Partial("HighlightBar/HighlightBar", Model.Content)