@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}
@Html.Partial("Banner/Banner", Model.Content)
@Html.Partial("HighlightBar/HighlightBar", Model.Content)
@Html.Partial("ContentScroller/ContentScroller", Model.Content)
<div class="section">
    <div class="inner">
        @Html.Partial("Treatments/Treatments", Model.Content)
    </div>
</div>
<div class="section section--grey">
    <div class="inner">
        @Html.Partial("Services/Services", Model.Content)
    </div>
</div>
<div class="section">
    <div class="inner">
        @Html.Partial("Blogs/Blogs", Model.Content)
    </div>
</div>
<div class="section section--grey">
    <div class="inner">
        @Html.Partial("Recipes/Recipes", Model.Content)
    </div>
</div>
<div class="section">
    <div class="inner">
        @Html.Partial("Reviews/Reviews", Model.Content)
    </div>
</div>
@Html.Partial("HighlightBar/HighlightBar", Model.Content)
<div class="section section--nopad">
    <span class="img-load" data-src="/images/image-logos.jpg"></span>
</div>