@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var blogs = Umbraco.TypedContentSingleAtXPath("//blogs");
    var term = Request.QueryString["q"];
    var take = 999;
    var scroll = false;

    if (Model.Content.DocumentTypeAlias != "blogs")
    {
        take = 6;
        scroll = true;
    }
}
<div class="section__header">
    <span class="section__title">@blogs.GetPropertyValue("sectionTitle")</span>
    @if (Model.Content.DocumentTypeAlias == "blogs")
    {
        <form class="form section__search" action="@Model.Content.Url#boxes">
            <fieldset>
                <div class="form__field">
                    <button type="button"><span class="svg-load" data-src="/images/icon-search.svg"></span></button>
                    <input type="text" name="q" placeholder="Search" value="@term" />
                </div>
            </fieldset>
        </form>
    }
</div>
<div class="boxes-blogs boxes-small">
    <a name="boxes"></a>
    <div class="boxes" data-id="@blogs.Id" data-take="@take" data-scroll="@scroll" data-search="@term" data-filter="">
    </div>
</div>
@if (Model.Content.DocumentTypeAlias != "blogs")
{
<div class="section__footer">
    <span class="button section__button section__button--center"><a href="@blogs.Url">View @blogs.Name</a></span>
</div>
}
else
{
    <div class="section__indicator">
        <span>load more</span>
        <button type="button" class="round-button load-more"><span class="svg-load" data-src="/images/icon-load.svg"></span></button>
    </div>
}