@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="section">
    <div class="inner">
        <div class="section__content">
            <span class="timestamp"><span class="timestamp__icon svg-load" data-src="/images/icon-timestamp.svg"></span> Posted @Model.Content.CreateDate.ToString("dd MMMM yyyy")</span>
            <h1>@Model.Content.Name</h1>
            <span class="subtitle-item"><span class="svg-load" data-src="/images/icon-prep.svg"></span> <b>Prep</b> @Model.Content.GetPropertyValue("prep")</span>
            <span class="subtitle-item"><span class="svg-load" data-src="/images/icon-cook.svg"></span> <b>Cook</b> @Model.Content.GetPropertyValue("cook")</span>
            <span class="subtitle-item"><span class="svg-load" data-src="/images/icon-make.svg"></span> <b>Makes</b> @Model.Content.GetPropertyValue("makes")</span>
            @Model.Content.GetPropertyValue("bodyContent")
        </div>
    </div>
</div>
<div class="section">
    <a name="types"></a>
    <div class="inner">
        <div class="section__header">
            <span class="section__title">Ingredients</span>
        </div>
        <div class="section__content ">
            @Model.Content.GetPropertyValue("ingredients")
        </div>
        <div class="section__indicator">
            <span>scroll for method</span>
            <button type="button" class="arrow"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
        </div>
    </div>
</div>
<div class="section">
    <a name="types"></a>
    <div class="inner">
        <div class="section__header">
            <span class="section__title">Method</span>
        </div>
        <div class="section__content">
            @Model.Content.GetPropertyValue("method")
        </div>
        <div class="section__social">
            <span class="timestamp">Posted @Model.Content.CreateDate.ToString("dd MMMM yyyy") by @Model.Content.CreatorName</span>
            @Html.Partial("Social/Social", Model.Content)
        </div>
        <div class="section__indicator">
            <button type="button" class="arrow arrow--inverted"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
            <span>back to top</span>
        </div>
    </div>
</div>