@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var recipes = Umbraco.TypedContentSingleAtXPath("//recipes");
    var take = 999;
    var scroll = false;

    if(recipes.Id != Model.Content.Id)
    {
        take = 6;
        scroll = true;
    }
}
<div class="section__header">
    <span class="section__title">Yummy recipes</span>
</div>
<div class="boxes-recipes">
    <div class="boxes" data-id="@recipes.Id" data-take="@take" data-scroll="@scroll">
    </div>
</div>
<div class="section__footer">
    <span class="button section__button section__button--center"><a href="@recipes.Url">View all @recipes.Name</a></span>
</div>
<div class="section__indicator">
    <span>scroll</span>
    <button type="button" class="arrow"><span class="svg-load" data-src="/images/icon-arrow.svg"></span></button>
</div>